#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app{
    height: 100%;
    background-color: linear-gradient(rgb(10, 238, 21), rgb(3, 77, 146), 120deg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    background-color: rgb(148, 96, 96);
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;
}
.heading {
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'Times New Roman', Times, serif;
}
.butt {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 200px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(22,76,167, 0.6);
}
.butt span{
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}
.butt:hover {
    color: rgb(67, 82, 82);
    background-color: aquamarine;
}
